<div class="container">
    <div class="p-5 bg-light rounded-3">
        <h1 class="display-1 text-center">
            Aaron McKoy
        </h1>
    </div>
    <div class="row">
        <ul class="nav justify-content-end bg-info">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
        </li>
        </ul>
    </div>


</div>